
{{#if only}}
  <input class='{{inputClass}}' name='{{name}}' placeholder='{{placeholder}}' type='{{name}}' {{disabled}}/>
{{else}}
<div class='{{inputClassInForm}}'>
  <span class={{inputTitleClass}}>{{title}}</span>
  <input class='{{inputClass}}' name='{{name}}' placeholder='{{placeholder}}' type='{{name}}' {{disabled}}/>
  <span class='inputEror {{valid}}'>{{invalidMsg}}</span>
</div>
{{/if}}