
{{#if chatDate}}
<span class="chatDate">{{chatDate}}</span>
{{/if}}
{{#if myMessage}}
<article class="myMessage">
  <p class="myMessageText">{{MessageText}}</p>
  <span class="myMessageTime">{{MessageTime}}</span>
</article>
{{else}}
<article class="hisMessage">
  <p class="hisMessageText">{{MessageText}}</p>
  <span class="hisMessageTime">{{MessageTime}}</span>
</article>
{{/if}}
